<Directory /var/www/html/wolff-core>
  AuthType Basic
  AuthName "Authentication Required"
  #Change the following to either a single file for all domains or to a different naming scheme if you like
  AuthUserFile /etc/htpasswds/.htpasswd.example1.com
  Require valid-user

  Order allow,deny
  Allow from all
</Directory>