<phpunit bootstrap="test/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Wolff">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
    <!-- Code coverage -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">vendor/usbac/wolff-framework/src</directory>
        </whitelist>
    </filter>
</phpunit>
