<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    <title>Wolff - Installation</title>
    <link href="view/css/install.css" rel="stylesheet" />
</head>
<body>

    <div class='content center'>
        <div class='text-center'>
        <img class='main-img' src='../main/view/logo.png' width='100px'>
        <h1 class='title'>Wolff</h1>
        </div>
        <?php if ($data['error']): ?>
            <div class='error-msg'><?php echo $data['error'] ?></div>
        <?php endif ?>
        <form action='save' method='post'>
            <div class='section'>
                <label class='input-label'>Host</label>
                <input type='text' class='input-install' name='host' value='localhost'>
            </div>

            <div class='section'>
                <label class='input-label'>Database</label>
                <input type='text' class='input-install' name='db' placeholder='db'>
            </div>

            <div class='section'>
                <label class='input-label'>Username</label>
                <input type='text' class='input-install' name='username' placeholder='username' value='root'>
            </div>

            <div class='section'>
                <label class='input-label'>Password</label>
                <input type='text' class='input-install' name='password' placeholder='password'>
            </div>

            <div class='section'>
                <label class='input-label'>Page title (Meta)</label>
                <input type='text' class='input-install' name='title' value='Wolff'>
            </div>

            <div class='section'>
                <label class='input-label'>Language</label>
                <select name='language' class='input-install'>
                    <option value='english' selected>English</option>
                    <option value='español'>Español</option>
                </select>
            </div>

            <div class='section' title='If the app is in the server root folder leave it empty, otherwise specify the folder'>
                <label class='input-label'>App directory ?</label>
                <input type='text' class='input-install' name='directory' placeholder='/'>
            </div>

            <div class='section text-right'>
                <a href='install/save'><button type='submit' class='btn-install'>Save</button></a>
            </div>
        </form>
    </div>
    
</body>
</html>